.input{-webkit-appearance:none;-moz-appearance:none;appearance:none;box-sizing:border-box;width:30rem;margin:0 0 .9rem;padding:.6rem;background:#fff;border:1px solid #bbb;box-shadow:inset 0 1px 3px rgba(0,0,0,.05);border-radius:0;outline:none;resize:vertical;transition:border-color .3s ease;color:#000;font-family:inherit;font-size:100%;line-height:1.15}.input[disabled]{border-color:#c8c8c8;background-color:#f2f2f2;box-shadow:none;cursor:not-allowed;color:#0d0d0d}.input:focus{border-color:#17f}.input::-webkit-input-placeholder{color:#999;opacity:1}.input:-ms-input-placeholder{opacity:1}.input::-ms-input-placeholder{opacity:1}.input::placeholder{color:#999;opacity:1}.input:-ms-input-placeholder{color:#999}.input::-ms-input-placeholder{color:#999}.control{margin:0 0 .9rem;box-sizing:border-box}.control__input{position:absolute;opacity:0;pointer-events:none}.control__label{display:flex;align-items:center;position:relative;color:#000}.control__label:after,.control__label:before{content:"";display:block;width:20px;height:20px;border:1px solid transparent}.control__label:before{flex-shrink:0;margin-right:.6rem;border-color:#bbb;box-shadow:inset 0 1px 3px rgba(0,0,0,.05);background:#fff}.control__label:after{position:absolute;top:calc(48% - 10px);left:0;background-size:60%;background-repeat:no-repeat;background-position:50%;-webkit-transform:scale(0);transform:scale(0);transition:-webkit-transform .3s ease;transition:transform .3s ease;transition:transform .3s ease,-webkit-transform .3s ease}.control__input[type=radio]+.control__label:before{border-radius:100%}.control__input[type=radio]+.control__label:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512'%3E%3Cpath d='M256 464c114.9 0 208-93.1 208-208S370.9 48 256 48 48 141.1 48 256s93.1 208 208 208z'/%3E%3C/svg%3E")}.control__input[type=checkbox]+.control__label:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512'%3E%3Cpath d='M461.6 109.6l-54.9-43.3c-1.7-1.4-3.8-2.4-6.2-2.4-2.4 0-4.6 1-6.3 2.5L194.5 323s-78.5-75.5-80.7-77.7c-2.2-2.2-5.1-5.9-9.5-5.9s-6.4 3.1-8.7 5.4c-1.7 1.8-29.7 31.2-43.5 45.8-.8.9-1.3 1.4-2 2.1-1.2 1.7-2 3.6-2 5.7 0 2.2.8 4 2 5.7l2.8 2.6s139.3 133.8 141.6 136.1c2.3 2.3 5.1 5.2 9.2 5.2 4 0 7.3-4.3 9.2-6.2l249.1-320c1.2-1.7 2-3.6 2-5.8 0-2.5-1-4.6-2.4-6.4z'/%3E%3C/svg%3E")}.control__input[type=checkbox][disabled]+.control__label,.control__input[type=radio][disabled]+.control__label{cursor:not-allowed;color:#0d0d0d}.control__input[type=checkbox][disabled]+.control__label:before,.control__input[type=radio][disabled]+.control__label:before{border-color:#c8c8c8;background-color:#f2f2f2;box-shadow:none}.control__input:focus+.control__label:before{border-color:#17f}.control__input:checked+.control__label:after{-webkit-transform:scale(1);transform:scale(1)}.select{-webkit-appearance:none;-moz-appearance:none;appearance:none;box-sizing:border-box;margin:0 0 .9rem;padding:.6rem calc(.9rem + 12px) .6rem .6rem;width:30rem;background:#fff;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512'%3E%3Cpath d='M256 298.3l174.2-167.2c4.3-4.2 11.4-4.1 15.8.2l30.6 29.9c4.4 4.3 4.5 11.3.2 15.5L264.1 380.9c-2.2 2.2-5.2 3.2-8.1 3-3 .1-5.9-.9-8.1-3L35.2 176.7c-4.3-4.2-4.2-11.2.2-15.5L66 131.3c4.4-4.3 11.5-4.4 15.8-.2L256 298.3z'/%3E%3C/svg%3E");background-size:12px;background-repeat:no-repeat;background-position:calc(100% - .6rem) 50%;border:1px solid #bbb;box-shadow:inset 0 1px 3px rgba(0,0,0,.05);border-radius:0;outline:0;color:#000;font-family:inherit;font-size:100%;line-height:1.15}.select[disabled]{border-color:#c8c8c8;background-color:#f2f2f2;box-shadow:none;cursor:not-allowed;color:#0d0d0d}.select:focus{border-color:#17f}.select::-ms-expand{display:none}
input[type=submit] {
	border: 1px solid #bbb;
	font-size: 1.3rem;
    border-radius: 5px;
    width: 160px;
    height:50px;
    font-family: Tahoma;
    background-color: #ededed;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f4f4f4), color-stop(100%, #ededed));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f4f4f4 1%, #ededed 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0);
    /* IE6-9 */
}
body
{
	font-family: 'Open Sans', sans-serif;
	margin-left: 2rem;
	text-align: center;
}
hr
{
	width: 60rem;
}
#withdrawalBlock
{
	margin: .9rem 0 0 0
}


@media only screen and (max-width: 1100px)
{
	hr
	{
		width: 40rem;
	}
}
@media only screen and (min-width: 925px)
{
	.resFor
	{
		display: none;
	}
}
@media only screen and (max-width: 700px)
{
	hr
	{
		width: 20rem;
	}
	@media only screen and (max-width: 570px)
	{
		hr
		{
			width: 25%;
		}
		.input
		{
			width: 100%;
		}
		.select
		{
			width: 100%;
		}
		body
		{
			margin-left: 0.9rem;
		}
	}
